<launch>
  <arg name="model" default="$(find four_wheel_urdf)/urdf/four_wheel_urdf.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <include file="$(find four_wheel_urdf)/launch/gazebo_new_world.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

    <rosparam command="load"
            file="$(find four_wheel_urdf)/config/joints.yaml"
            ns="four_wheel_joint_state_controller" />
    <rosparam command="load"
            file="$(find four_wheel_urdf)/config/diffdrive.yaml"
            ns="four_wheel_diff_drive_controller" />

  <node name="four_wheel_controller_spawner" pkg="controller_manager" type="spawner"
    args="four_wheel_joint_state_controller
          four_wheel_diff_drive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/four_wheel_diff_drive_controller/cmd_vel"/>
  </node>
</launch>
