<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param name="robot_description" 
    command="$(find xacro)/xacro.py $(find four_wheel_urdf)/urdf/four_wheel_urdf.urdf.xacro" />
  <param
    name="use_gui"
    value="$(arg gui)" />
    
  <rosparam command="load"
            file="$(find four_wheel_urdf)/config/joints.yaml"
            ns="four_wheel_joint_state_controller" />
  <rosparam command="load"
            file="$(find four_wheel_urdf)/config/diffdrive.yaml"
            ns="four_wheel_diff_drive_controller" />

  <node name="four_wheel_controller_spawner" pkg="controller_manager" type="spawner"
    args="four_wheel_joint_state_controller
          four_wheel_diff_drive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/four_wheel_diff_drive_controller/cmd_vel"/>
  </node>


  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find four_wheel_urdf)/urdf.rviz" />
</launch>