<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find four_wheel_urdf)/cogfig/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find four_wheel_urdf)/cogfig/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find four_wheel_urdf)/cogfig/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find four_wheel_urdf)/cogfig/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find four_wheel_urdf)/cogfig/base_local_planner_params.yaml" command="load" />
 </node>